<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mass.gov session explorer</title>
    <link rel="stylesheet" href="../static/background.css">
</head>


<body>
    <section>
        <div class="top-nav">
            <h1>Session explorer</h1>

        </div>
        <div class="session-filters-container">
            <div class="session-filters">
                <p>Find sessions with these characteristics: </p>
                <form class="submit-filters" action="" method="post">
                    <input type="url" name="start-page" placeholder=" landing page">
                    <input type="url" name="last-page" placeholder=" last page">
                    <input type="url" name="action-url" placeholder=" click to another application">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="main-display">
        </div>
    </section>
<!--
<h1>Sign up for our newsletter</h1>
<form action="" method="post">


    <select name="heard_of">
        <option value="">Pick one:</option>
        <option value="podcast">Podcast</option>
        <option value="mom">Mom</option>
        <option value="dad">Friend's mom</option>
        <option value="talking_parrot">Talking parrot</option>
    </select>

</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="extras/form_hook.js"></script>
-->
</body>
</html>